<!--Цветовая схема изменения статуса собеседования-->
<span th:fragment="status">
    <span th:switch="${interview.statusId}">
        <!--/*Новое*/-->
        <span class="badge bg-success pr-3 me-2"
              th:case="${T(ru.job4j.site.enums.StatusInterview).IS_NEW.id}"
              th:text="${T(ru.job4j.site.enums.StatusInterview).IS_NEW.info}">Статус новое интервью</span>
        <!--/*В процессе*/-->
        <span class="badge bg-warning pr-3 me-2"
              th:case="${T(ru.job4j.site.enums.StatusInterview).IN_PROGRESS.id}"
              th:text="${T(ru.job4j.site.enums.StatusInterview).IN_PROGRESS.info}">Статус интервью в процессе</span>
        <!--/*Ожидает отзыв*/-->
        <span class="badge bg-warning pr-3 me-2"
              th:case="${T(ru.job4j.site.enums.StatusInterview).IS_FEEDBACK.id}"
              th:text="${T(ru.job4j.site.enums.StatusInterview).IS_FEEDBACK.info}">Статус интервью ожидает отзыва</span>
        <!--/*Завершено*/-->
        <span class="badge bg-secondary pr-3 me-2"
              th:case="${T(ru.job4j.site.enums.StatusInterview).IS_COMPLETED.id}"
              th:text="${T(ru.job4j.site.enums.StatusInterview).IS_COMPLETED.info}">Статус интервью завершено</span>
        <!--/*Отменено*/-->
        <span class="badge bg-danger pr-3 me-2"
              th:case="${T(ru.job4j.site.enums.StatusInterview).IS_CANCELED.id}"
              th:text="${T(ru.job4j.site.enums.StatusInterview).IS_CANCELED.info}">Статус интервью отменено</span>
        <!--/*Неизвестен*/-->
        <span class="badge bg-danger pr-3 me-2"
              th:case="${T(ru.job4j.site.enums.StatusInterview).IS_UNKNOWN.id}"
              th:text="${T(ru.job4j.site.enums.StatusInterview).IS_UNKNOWN.info}">Статус интервью неизвестен</span>
        <!--/*Другое*/-->
        <span class="badge bg-danger" th:case="*">Статус неизвестен</span>
    </span>
</span>


